<title>Untitled document - Google Docs</title> <!--  _ _ _ _ _ _ _ _ _ _ _ _ -->
<!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<body> <!--  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<img src="http://www.procon.org/files/1-gun-control/suicide-gun-full.jpg"
align="right"> <!--  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<h1>Welcome to your favorite website!</h1><!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<h2>... </h2> <!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<h3>Unfortunately, there is nothing of relevance here.</h3> <!-- _ _ _ _ _ _ -->
<h4>... </h4> <!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<h5>Enjoy your stay! </h5> <!--  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<h6>... </h6> <!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<p><b>Welcome to my amazing website.</b> What you are currently reading is a big
block of text. Feel free to make sure that this is actually a valid HTML tag.
I will now present to you the best block of text in the world. Look at my WPM
go! <br>This is just absolutely incredible, I can write text, I can sell my
book, I can leave at 8:20 to go outside and hike, I can do anything! <br>This
text, however, is also complete junk: I mean, I am just writing some of the most
filler crap written. Oh well, it was lovely while it lasted. Please enjoy this
brick of text and I now have 8 total lines of text. Will it wrap? Find out in
the HTML engine.</p> <!--  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
<!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->
</body> <!-- _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ -->